.slider {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100px;

  &_horizontal {
    padding-bottom: 40px; //for dots
  }
}

.slides {
  position: relative;
  top: 0;
  left: 0;

  .animation {
    transition: opacity 500ms linear;
    &_in {
      opacity: 1;
    }

    &_out {
      opacity: 0;
    }
  }
  &:before, &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

  &__item {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    .slider_vertical & {

    }

    .slider_horizontal & {
        height: 100%;
        float: left;
    }
  }
}

.dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 20px;

  li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    &.dots__item_active button {
      opacity: 1;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0px solid black;
      border-radius: 10px;
      outline: none;
      background: #3498db;
      opacity: 0.5;
    }
  }

}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;

  &-next {
    right: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #3498db;
  }

  &-prev {
    left: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #3498db;
  }
}
